.game {
  background-image: url('http://res.cloudinary.com/mdfchucknorris/image/upload/v1515496901/Creepy_uoi7nb.jpg');
  width: 1200px;
  height: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

body {
  background-color: black;
}

.progress-bar {
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 5px;
}

progress {
    height: 38px;
    width: 300px;
    border-radius: 20px;
    background:#484848;
	  border:10px solid #282828;
    box-shadow: 0 1px 10px rgba(40, 40, 40, 0.5),0 0 3px 1px rgba(40, 40, 40, 0.5) inset;
    -moz-transition: width .2s linear;
  	-webkit-transition: width .2s linear;
  	-o-transition: width .2s linear;
  	transition: width .2s linear;
}
progress::-webkit-progress-bar {
    height: 20px;
    border-radius: 19px;
}
progress::-webkit-progress-value {
     background-size: 200px 20px;
     height: 20px;
     border-radius: 20px;
     background-color: #d00;
     box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.3) inset;
     background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
     background-repeat: repeat-x;
     background-size: 20px 20px;

}

progress::-moz-progress-bar {
    height: 40px;
    border-radius: 20px;
}
