@media screen and (max-width: 500px) {
    .container {
      min-height: 100%;
    }
}

.game {
  background-image: url('http://res.cloudinary.com/mdfchucknorris/image/upload/v1515496901/Creepy_uoi7nb.jpg');
  width: 1200px;
  height: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

body {
  background-color: black;
  overflow: hidden;
  cursor: none;
}

.progress {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
    height: 20px;
    width: 300px;
    border-radius: 20px;
    background:#484848;
	  border:10px solid #282828;
    box-shadow: 0 1px 10px rgba(40, 40, 40, 0.5),0 0 3px 1px rgba(40, 40, 40, 0.5) inset;
}

.progress-bar {
     background-size: 200px 20px;
     height: 20px;
     border-radius: 20px;
     background-color: #d00;
     box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.3) inset;
     background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
     background-repeat: repeat-x;
     background-size: 20px 20px;
     -webkit-animation: stripes 1s linear infinite;
     -moz-animation: stripes 1s linear infinite;
     animation: stripes 1s linear infinite;
}

@-webkit-keyframes stripes {
to {background-position: 20px 0;}
}
@-moz-keyframes stripes {
to {background-position: 20px 0;}
}
@keyframes stripes {
to {background-position: 20px 0;}
}

img {
  position: absolute;
  height: 200px;
  width: 200px;
}

.game img {
  -webkit-animation: turning 3s linear infinite;
  -moz-animation: turning 3s linear infinite;
  animation: turning 3s linear infinite;
}

@-webkit-keyframes turning {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes turning {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes turning {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.mouse {
  z-index: 1;
  position: absolute;
  width: 80px;
  height: 80px;
  cursor: none;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
